#nav_sec{
    width: 100%;
    height: 4.5vmax;
    background-color: var(--color-nav-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5vmax 0 1.5vmax;
    filter:drop-shadow(var(--color-gray) 0rem .1rem 5px);
    position: fixed;
    z-index: 5;
}

#nav_d1{
   font-size: 1.4vmax;
   font-weight: 600;
}

#nav_d2 ul{
    display: flex;
    gap: 3vmax;
    font-weight: 400;
    font-size: 1.1vmax;
}

#nav_d2 ul .navLink{
    color: var(--color-navLink);
}

#nav_d2 ul .navActiveLink{
    color: var(--color-navLinkActive);
}

#nav_d4{
    display: flex;
    align-items: center;
    gap: 15px;
}

.l1, .l2 {
    text-decoration: none;
    color: white;
    background-color: #007bff;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.l1:hover, .l2:hover {
    background-color: #0056b3;
}

#nav_d3{
    width: 3.3vmax;
    height: 3.3vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vmax;
    font-weight: 400;
    font-size: 1.1vmax;
    background-color: var(--color-ternary);
    border-radius: 500px;
}

#nav_d3 img{
    width: 45%;
}

#user_profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

#user_profile_img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.logout_btn {
    text-decoration: none;
    color: white;
    background-color: #007bff; /* Same as Log In and Sign Up buttons */
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout_btn:hover {
    background-color: #0056b3; /* Hover effect */
}